<li class="list-group-item">
    {{#if devoured}}
        <span class="badge">
            <strong><a href="#" class ="change-devour" data-id="{{id}}" data-devoured="{{devoured}}" >devour it!</a></strong>
        </span>
        {{id}}.  {{burger}}
    {{else}}
         {{id}}. {{burger}}
     {{/if}}
</li>